DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/EFDemoWeb.csproj.nuget.dgspec.json
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/EFDemoWeb.csproj.nuget.g.props
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/EFDemoWeb.csproj.nuget.g.targets
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/project.assets.json
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/project.nuget.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.AssemblyInfo.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.AssemblyInfoInputs.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.assets.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.csproj.CopyComplete
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.csproj.CoreCompileInputs.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.csproj.FileListAbsolute.txt
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.csprojAssemblyReference.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.exe
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.genruntimeconfig.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.MvcApplicationPartsAssemblyInfo.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.pdb
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.RazorAssemblyInfo.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.RazorAssemblyInfo.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.RazorCoreGenerate.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.RazorTargetAssemblyInfo.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.RazorTargetAssemblyInfo.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.TagHelpers.input.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.TagHelpers.output.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.Views.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/EFDemoWeb.Views.pdb
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/staticwebassets/EFDemoWeb.StaticWebAssets.Manifest.cache
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/staticwebassets/EFDemoWeb.StaticWebAssets.xml
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/appsettings.Development.json
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/appsettings.json
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDataAccessLibrary.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDataAccessLibrary.pdb
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDemoWeb.deps.json
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDemoWeb.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDemoWeb.exe
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDemoWeb.pdb
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDemoWeb.runtimeconfig.dev.json
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDemoWeb.runtimeconfig.json
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDemoWeb.Views.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/EFDemoWeb.Views.pdb
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/bin/Debug/netstandard2.0/EFDataAccessLibrary.deps.json
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/bin/Debug/netstandard2.0/EFDataAccessLibrary.dll
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/bin/Debug/netstandard2.0/EFDataAccessLibrary.pdb
DotNetCore/EntityFramework/EFDemoApp/.vs/EFDemoApp/DesignTimeBuild/.dtbcache.v2
DotNetCore/EntityFramework/EFDemoApp/.vs/EFDemoApp/config/applicationhost.config
DotNetCore/EntityFramework/EFDemoApp/.vs/EFDemoApp/v16/.suo
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/EFDataAccessLibrary.csproj.nuget.dgspec.json
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/EFDataAccessLibrary.csproj.nuget.g.props
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/EFDataAccessLibrary.csproj.nuget.g.targets
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/project.assets.json
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/project.nuget.cache
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/Debug/netstandard2.0/EFDataAccessLibrary.AssemblyInfo.cs
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/Debug/netstandard2.0/EFDataAccessLibrary.AssemblyInfoInputs.cache
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/Debug/netstandard2.0/EFDataAccessLibrary.assets.cache
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/Debug/netstandard2.0/EFDataAccessLibrary.csproj.CoreCompileInputs.cache
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/Debug/netstandard2.0/EFDataAccessLibrary.csproj.FileListAbsolute.txt
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/Debug/netstandard2.0/EFDataAccessLibrary.csprojAssemblyReference.cache
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/Debug/netstandard2.0/EFDataAccessLibrary.dll
DotNetCore/EntityFramework/EFDemoApp/EFDataAccessLibrary/obj/Debug/netstandard2.0/EFDataAccessLibrary.pdb
DotNetCore/EntityFramework/EFDemoApp/EFDemoWeb/obj/Debug/netcoreapp3.1/project.razor.json
.DS_Store
**/.DS_Store
.DS_Store?