// @mixin flexCenter($direction, $background) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     flex-direction: $direction;
//     background: $background;
// }

header {
    // @include flexCenter(column);
    height: 100vh;
    background: lightblue;
    color: $textColor;
    button {
        background: $primaryBtn;
        &:hover {
            background: red;
        }
        &::after {
            background: green;
            content: 'Helllooooo';
        }
    }
    // p {

    // }
    // .mainText {

    // }
}
